$spacer-1: 15px;
$spacer-2: 23px;
$spacer-3: 50px;
$spacer-4: 10px;
$spacer-5: 20px;
$spacer-6: 40px;
$spacer-7: 350px;
$spacer-8: 18px;
$spacer-9: 30px;
$spacer-10: 17px;
$spacer-11: 4px;
$spacer-12: 500px;
$spacer-13: 60px;
$spacer-14: 0px;
$spacer-15: 600px;
$spacer-16:1100;
$spacer-17:30px;
$spacer-18:27px;