.department{
    background-color:$gray1;
    color:$white;

    &__title{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    &__p{
        text-align: center;
        padding-bottom: 40px;
    }
    &__units{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
        padding: 20px 20px;
    }
    &__units h6{
        padding-top: 30px;
    
    }
   
}



