.features{

    &__box1 {
        background-color:$gray1;
        color: $white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__box2 {
        background-color:$gray2;
        color: $white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__box3 {
        background-color:$gray3;
        color:$white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       
    }
    &__h3{
        padding: 10px;
    }
    &__icon {
        padding: 20px;
    }

}









