.header{
 
    &__btn {
        background-color:$black;
        color:$white;
        padding:$spacer-4;
        text-decoration: none;
        border-radius: 0px;
        font-size:$spacer-8;
        font-weight: 600;    
    }
    &__btn:hover {
        background-color:$white;
        color:$black;
    }
    &__btn--banner{
        background-color:$black;
        color:$white;
        padding:$spacer-4;
        text-decoration: none;
        border-radius: 0px;
        font-size:$spacer-8;
        font-weight: 600; 

    }

    &__btn--banner:hover{
        background-color:$white;
        color:$black;

    }

    &__btn--form{
        background-color:$black;
        color:$white;
        padding:$spacer-4;
        text-decoration: none;
        border-radius: 0px;
        font-size:$spacer-8;
        font-weight: 600; 
        margin-left: 600px;

    }
    &__btn--form:hover{
        background-color:$white;
        color:$black;

    }


}