.modern{

    &__h3{
        text-align: center;
        margin-top: 40px;
        font-weight: bold;
    }
    &__p{
        text-align: center;
    }
    &__icon{
        padding-right: 10px;
    }
    &__content span{
        font-weight: bold;
    }

}



