.modern__h3{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
.modern__p{
    text-align: center;
}
.modern_content span{
    font-weight: bold;
}
.modern i{
    padding-right: 10px;
}