.banner {
    background: url(../images/pexels-karolina-grabowska-7195314.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px;
    min-height: 500px;
    position: relative;
    padding: 7rem 2rem;
    &__h1 {

        font-size: 60px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__btn {
        background-color:$brown;
        color:$white;
        padding: 8px 24px;
        text-decoration: none;
        border-radius: 0px;
        font-size: 20px;
        font-weight: 600;
    
    }
    &__btn:hover {
        background-color:$white;
        color:$black;
    }
    &__banner-text-wrap {
        max-width: 600px;
    }
    &__p {
        margin-bottom: $spacer-1;
        margin-top: $spacer-2
    }
}