
.caresession{

    margin-top: 80px;


&__row{
    min-height: 50vh;
}
&__content span{
    font-size: 2rem;
    color: black;
    font-weight: 400px;
}
&__content p{
    padding: 1rem o;
    font-size: 1rem;
    color: black;
   
}
&__img{
    padding:20px
}

}