.banner {
    padding: 7rem 2rem;
    background: url("//images01.nicepage.com/cb/dc/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px;
    min-height: $spacer-12;
    position: relative;

    &__heading {

        font-size: $spacer-13;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__paragraph {
        margin-bottom: $spacer-2;
        margin-top: $spacer-1;
    }

    &__btn {
        background-color: $brown;
        color: $white;
        padding: 8px 24px;
        text-decoration: none;
        border-radius: $spacer-14;
        font-size:$spacer-1;
        font-weight: 600;

    }

    &__btn:hover {
        background-color: $white;
        color: $black;
    }

    &__div {
        max-width: $spacer-15;
    }

    
}