.seccardsession{
    display: flex; 
    margin: $spacer-14;
    justify-content: center;
   
}

@include mobile{

    .seccardsession{

        display: block;
        width: auto;
        height: auto;
        flex-wrap: wrap;
       
    }

    
}