* {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.banner {
  background: url(./images/pexels-karolina-grabowska-7195314.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0px;
  min-height: 500px;
  position: relative; }

.banner {
  padding: 7rem 2rem; }

.banner h1 {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase; }

.banner__btn {
  background-color: #544d4d;
  color: #fff;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600; }

.banner__btn:hover {
  background-color: #fff;
  color: #000; }

.banner-text-wrap {
  max-width: 600px; }

.banner p {
  margin-bottom: 23px;
  margin-top: 15px; }

.about .row {
  min-height: 50vh; }

.about .content span {
  font-size: 2rem;
  color: #000; }

.about .content p {
  padding: 1rem o;
  font-size: 1rem;
  color: #000; }

.about img {
  padding: 20px; }

.be-department {
  background-color: #a3a3a3;
  color: #fff; }

.be-department__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px; }

.be-department__p {
  text-align: center;
  padding-bottom: 40px; }

.be-department__units {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 20px; }

.be-department__units h6 {
  padding-top: 30px; }

.features__box1 {
  background-color: #a3a3a3;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.features__box2 {
  background-color: #919090;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.features__box3 {
  background-color: #757474;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.features__h3 {
  padding: 10px; }

.features__icon {
  padding: 20px; }

.worldmap {
  background: #000; }

.map {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  position: relative; }

.worldmap img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.worldmap__title {
  margin-top: 0px; }

.worldmap__title h1 {
  padding-top: 30px; }

.map {
  padding-top: 0px; }

.worldmap__title {
  text-align: center;
  color: #fff;
  margin: 2rem 0;
  padding: 0 1em; }

.worldmap__p {
  max-width: 500px;
  margin: 1em auto;
  line-height: 27px;
  margin-bottom: 0; }

.pin {
  background: #919090;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%; }

.pin::before {
  content: '';
  background: #757474;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite; }

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: #544d4d;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  color: #fff; }

.usa {
  top: 50%;
  left: 21%; }

.france {
  top: 45%;
  left: 48%; }

.swedan {
  top: 33%;
  left: 52%; }

.africa {
  top: 28%;
  left: 79%; }

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%);
    scale: 2.5; } }
.modern__h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bold; }

.modern__p {
  text-align: center; }

.modern_content span {
  font-weight: bold; }

.modern i {
  padding-right: 10px; }

/*# sourceMappingURL=style.css.map */
