.seccard{
    background-color:$gray1;
    padding: $spacer-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: $spacer-7;   
    
   
    &__icon{
        width: $spacer-3;
        height: auto;       
        padding-bottom: $spacer-4;
        
    }   

   
    &__h3{
        text-align: center;
        font-size: $spacer-8;
        font-weight: 500;
        color:$white;
        padding-top: $spacer-4;
        padding-bottom:$spacer-4;
        margin-left:$spacer-5;
        margin-top: $spacer-9;

    }
    &__p{
        font-size: $spacer-10;
        color: $white;
        text-align: center;
    }

    &--two{
        background-color: $gray2;
    }
    &--three{
        background-color: $gray3;
    }
}